<div class="chat-container">

    <h2>Spring Boot WebSocket Chat</h2>

    <div class="join-box" *ngIf="!joined">

        <h2>Join Chat</h2>

        <input
        [(ngModel)]="username"
        placeholder="Enter your name">

        <button (click)="join()">
        Join
        </button>

    </div>
    <div *ngIf="joined">

    <h2>Welcome {{username}}</h2>

    <div class="messages">

        <div
            *ngFor="let msg of messages"
            class="message">

            {{msg}}

        </div>

    </div>

    <div class="send-box">

        <input
            [(ngModel)]="message"
            (keyup.enter)="send()"
            placeholder="Type message">

        <button (click)="send()">
            Send
        </button>

    </div>

</div>

    <div class="messages">

        <div *ngFor="let msg of messages">

            {{msg}}

        </div>

    </div>

    <input
        [(ngModel)]="message"
        (keyup.enter)="send()"
        placeholder="Type message">

    <button (click)="send()">

        Send

    </button>

</div>